.effen-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.effen-figure-caption {
    margin-left: 2rem;
}

.submit-edit-button {
    width: 100%;
}
