.effen-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

// .effen-figure-caption {
//     margin-left: 1em;
// }

.submit-edit-button {
    width: 100%;
}
