.effen-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.avatar-upload-group {
    margin-top: 1rem;
}

.submit-edit-button {
    width: 100%;
}

.avatar-spinner {
    margin-top: 0.5rem;
}