.edit-profile-row {
    margin-top: 2rem;
    min-height: 30vh;
    margin-bottom: 10rem;
    background-color: #1a1a1a;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.effen-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.effen-figure-caption {
    margin-left: 2rem;
}

.submit-edit-button {
    width: 100%;
}
