.profile-page-container {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-page-header-div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.notasks-and-button-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-tasks-heading {
    margin-top: 4rem;
}

.add-task-button {
    width: 10rem;
    margin-top: 1%;
}

