.profile-row {
    margin-top: 2rem;
    min-height: 30vh;
    margin-bottom: 5rem;
}

.profile-avatar-col {
    margin-bottom: 5rem;
}

.my-form-group {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.info-label {
    margin-right: 1rem;
}

.edit-info-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}