.task-card {
    margin-top: 5%;
}

.task-card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.task-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}