.footer-div {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    // margin-top: auto;
    // margin-top: 10vh;
}

.social-icons {
    margin-top: 1rem;
}

.social-icon {
    margin-right: 1rem;
}