.main-div {
    position: relative;
}

.container-fluid {
    min-height: 100vh;
}

.logged-in-container {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logged-in-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.loading-info {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
}

.loading-info-under {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}